# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [ ]:
import pandas as pd
import numpy as np

temperaturas_series_sem_indice = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
temperaturas_series_sem_indice

#Por favor, caso tenha um modo mais enxuto e dentro das boas práticas para realizar essa série de exercícios me informe.

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:
temperaturas_series_com_indice = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                                                  index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
temperaturas_series_com_indice

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [ ]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturas_series = pd.Series(dic_temperaturas)
dic_temperaturas_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [ ]:
arr = np.random.normal(100, 10, (20,3))

arr_dataframe_sem_indice = pd.DataFrame(arr)
arr_dataframe_sem_indice

             0           1           2
0   111.612056  104.853435  105.985282
1   108.974331   96.404336   93.802919
2   101.394925   87.757475  106.177633
3   101.512934   97.199540  103.001375
4   109.079513   99.132660   95.870935
5    91.696976   89.954710   87.784575
6    94.695565   98.604915  105.978916
7   117.964051  103.477466  108.047675
8   104.783671  101.333077  101.167083
9   116.395148   86.752402  108.178382
10   97.371373   99.703180  106.201211
11  115.295634   90.308617   98.237543
12   95.652328   92.539711   99.937594
13   96.277926  104.308327   86.148347
14  103.001351  109.707293  101.458564
15   96.818597  103.205635  106.355549
16   88.409503  103.887965  114.929333
17  116.239060   93.363582   88.299277
18  123.608123  119.741791  105.023211
19   86.495871   98.661525  104.380125

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [ ]:
arr_dataframe_com_indice = pd.DataFrame(arr, index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 
                                        columns=['x1','x2', 'x3'])
arr_dataframe_com_indice

#Existe alguma forma mais rapidas de preencher esse index?

            x1          x2          x3
1   111.612056  104.853435  105.985282
2   108.974331   96.404336   93.802919
3   101.394925   87.757475  106.177633
4   101.512934   97.199540  103.001375
5   109.079513   99.132660   95.870935
6    91.696976   89.954710   87.784575
7    94.695565   98.604915  105.978916
8   117.964051  103.477466  108.047675
9   104.783671  101.333077  101.167083
10  116.395148   86.752402  108.178382
11   97.371373   99.703180  106.201211
12  115.295634   90.308617   98.237543
13   95.652328   92.539711   99.937594
14   96.277926  104.308327   86.148347
15  103.001351  109.707293  101.458564
16   96.818597  103.205635  106.355549
17   88.409503  103.887965  114.929333
18  116.239060   93.363582   88.299277
19  123.608123  119.741791  105.023211
20   86.495871   98.661525  104.380125

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [ ]:
arr_dataframe_com_indice['media'] = arr_dataframe_com_indice['x1'] + arr_dataframe_com_indice['x2'] + arr_dataframe_com_indice['x3']/len(arr_dataframe_com_indice)
arr_dataframe_com_indice

#Existe alguma forma melhor de colocar o divisor? 
#De forma que indepedente se eu aumentar o número de colunas, ele faça as modificações no divisor automaticamente?
#Teria como fazer esse exerício 6 como um todo com o mean()?

            x1          x2          x3       media
1   111.612056  104.853435  105.985282  221.764754
2   108.974331   96.404336   93.802919  210.068813
3   101.394925   87.757475  106.177633  194.461282
4   101.512934   97.199540  103.001375  203.862543
5   109.079513   99.132660   95.870935  213.005720
6    91.696976   89.954710   87.784575  186.040915
7    94.695565   98.604915  105.978916  198.599426
8   117.964051  103.477466  108.047675  226.843901
9   104.783671  101.333077  101.167083  211.175102
10  116.395148   86.752402  108.178382  208.556469
11   97.371373   99.703180  106.201211  202.384614
12  115.295634   90.308617   98.237543  210.516129
13   95.652328   92.539711   99.937594  193.188918
14   96.277926  104.308327   86.148347  204.893670
15  103.001351  109.707293  101.458564  217.781572
16   96.818597  103.205635  106.355549  205.342010
17   88.409503  103.887965  114.929333  198.043935
18  116.239060   93.363582   88.299277  214.017606
19  123.608123  119.741791  105.023211  248.601075
20   86.495871   98.661525  104.380125  190.376403

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [ ]:
arr_dataframe_com_indice['log_med'] = np.log(arr_dataframe_com_indice['media'])
arr_dataframe_com_indice

            x1          x2          x3       media   log_med
1   111.612056  104.853435  105.985282  221.764754  5.401617
2   108.974331   96.404336   93.802919  210.068813  5.347435
3   101.394925   87.757475  106.177633  194.461282  5.270233
4   101.512934   97.199540  103.001375  203.862543  5.317446
5   109.079513   99.132660   95.870935  213.005720  5.361319
6    91.696976   89.954710   87.784575  186.040915  5.225967
7    94.695565   98.604915  105.978916  198.599426  5.291290
8   117.964051  103.477466  108.047675  226.843901  5.424262
9   104.783671  101.333077  101.167083  211.175102  5.352688
10  116.395148   86.752402  108.178382  208.556469  5.340210
11   97.371373   99.703180  106.201211  202.384614  5.310170
12  115.295634   90.308617   98.237543  210.516129  5.349562
13   95.652328   92.539711   99.937594  193.188918  5.263669
14   96.277926  104.308327   86.148347  204.893670  5.322491
15  103.001351  109.707293  101.458564  217.781572  5.383493
16   96.818597  103.205635  106.355549  205.342010  5.324677
17   88.409503  103.887965  114.929333  198.043935  5.288489
18  116.239060   93.363582   88.299277  214.017606  5.366058
19  123.608123  119.741791  105.023211  248.601075  5.515850
20   86.495871   98.661525  104.380125  190.376403  5.249003